body {
    font-family: "Poppins", sans-serif;
    background-color: #181818;
    background-image: radial-gradient(circle at 50% -50%, #3a3af4 20%, transparent 40%), radial-gradient(circle at 50% 65%, #3a3af4 -10%, transparent 35%);
    backdrop-filter: blur(150px);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    padding-top: 58px;
}

header > .container {
    display: flex;
    align-items: center;
}

.logo {
    width: 295px;
    display: flex;
    gap: 10px;
}

.logo-text {
    font-size: 26px;
    font-family: "Kaushan Script", sans-serif;
    color: #FFF;
}

nav {
    width: 550px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    text-decoration: none;
    transition: all .5s;
    font-weight: 400;
}

nav ul li a:hover {
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.nav-button {
    width: 295px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.login-button {
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.05);
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

/* Hero section */
.hero {
    padding-top: 123px;
}

.hero .wrapper {
    width: 922px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hero .hero-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.hero .hero-title span {
    font-weight: 500;
}

.hero .hero-sub-title {
    width: 556px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 34px;
}

.hero .hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 30px;
    border-radius: 3px;
    background-color: #3A3AF4;
    text-decoration: none;
}

.hero .hero-button p {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

/* Image section */
.image {
    padding-top: 72px;
    padding-bottom: 136px;
}

.image > .container {
    display: flex;
    justify-content: center;
    align-items: center;
}